In [2]:
import pandas as pd

In [4]:
tuples = [
    ('cobra', 'mark i'), ('cobra', 'mark ii'),
    ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
    ('viper', 'mark ii'), ('viper', 'mark iii')
]

In [3]:
index = pd.MultiIndex.from_tuples(tuples)

In [8]:
values = [[12, 2], [0, 4], [10, 20],
          [1, 4], [7, 1], [16, 36]]

In [9]:
df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)

In [10]:
df

                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

In [12]:
df.loc[('cobra', 'mark i'):('sidewinder', 'mark ii')]

                    max_speed  shield
cobra      mark i          12       2
           mark ii          0       4
sidewinder mark i          10      20
           mark ii          1       4

In [13]:
df.index

MultiIndex(levels=[['cobra', 'sidewinder', 'viper'], ['mark i', 'mark ii', 'mark iii']],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 1, 2]])